//BREAKPOINTS
$extra-small: 350px;
$mobile: 500px;
$mobile-xl: 600px;
$tablet: 768px;
$desktop: 1000px;
$extra-large: 1400px;

//FONT STYLING
$cursive: cursive;

//COLORS
$primary-blue: #73ddff;
$default: #b6a7a7;
$white: #fffbfb;
$black: #34323d;
$blue: #343246;
$aqua: #1b3633;
$hover: #005148;
$chip: rgba(240, 234, 214, 0.15);