.about-page {
    min-height: 100vh;
    min-width: 100vw;
    background-size: cover; 
    background-repeat: no-repeat;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: .15;
    }
    .about-inner-container {
        z-index: 1;
        width: 90%;
        margin: 150px auto 0;
        height: 450px;
        @media screen and (max-width: $desktop) {
            height: 510px;
        }
        @media screen and (max-width: $tablet) {
            flex-direction: column;
            align-items: center;
            width: 100%;
            justify-content: unset;
            margin: 125px auto 0;
        }
        @media screen and (max-width: $mobile-xl) {
            margin: 100px auto 0;
        }
        @media screen and (max-width: $mobile) {
            margin: 85px auto 0;
        }
        @media screen and (max-width: $extra-small){
            margin-bottom: 100px;
        }
        .about-me-summary {
            color: white;
            max-width: 300px;
            font-size: 24px;
            @media screen and (max-width: $tablet) {
                margin-bottom: 35px;
                font-size: 20px;
                max-width: 500px;
            }
            @media screen and (max-width: $mobile-xl) {
                max-width: 450px;
                font-size: 16px;
            }
            @media screen and (max-width: $mobile) {
                max-width: 300px;
                text-align: center;
                margin-bottom: 25px;
            }
            @media screen and (max-width: $extra-small) {
                max-width: 280px;
            }
        }
        .about-me-container {
            width: 500px;
            max-height: 400px;
            @media screen and (max-width: $desktop) {
                width: 380px;
                max-height: unset;
            }
            @media screen and (max-width: $tablet) {
                width: 100%;
                justify-content: center;
            }
            .icon-container {
                position: relative;
                margin: 20px;
                height: 125px;
                @media screen and (max-width: $tablet) {
                    height: 100px;
                }
                @media screen and (max-width: $mobile) {
                    height: 75px;
                }
                img {
                    height: 125px;
                    opacity: 0.75;
                    @media screen and (max-width: $tablet) {
                        height: 100px;
                    }
                    @media screen and (max-width: $mobile) {
                        height: 75px;
                    }
                }
                p {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    font-size: 24px;
                    letter-spacing: 1.2px;
                    color: white;
                    text-shadow: 1px 1px 10px black;
                    padding: 5px;
                    z-index: 1;
                    font-family: montserrat;
                    font-weight: 600;
                    &:before {
                        content: '';
                        background: lightgrey;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        opacity: 0.2;
                    }
                    @media screen and (max-width: $tablet) {
                        font-size: 18px;
                    }
                    @media screen and (max-width: $mobile) {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}