.components-page {
    min-height: 100vh;
    min-width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: white;
    text-align: center;
    overflow: scroll;
    .components-inner-container {
        width: 100%;
        h1 {
            font-size: 48px;
            margin-bottom: 35px;
            @include down($tablet) {
                font-size: 40px;
            }
        }
        .components-container {
            width: 95%;
            margin: 0 auto 50px;
            .card {
                width: calc((100% / 3) - (3 * 5px));
                max-width: 33.33%;
                height: 300px;
                border: 1px solid black;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                margin: 5px 5px 16px;
                position: relative;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                @include down($desktop) {
                    height: 250px;
                    width: calc(100% / 2 - (2 * 5px));
                    max-width: 50%;
                }
                @include down($tablet) {
                    height: 225px;
                }
                @include down($mobile-xl) {
                    width: calc(100% - 5px);
                    max-width: 100%;
                    height: 300px;
                    margin-left: 0; 
                    margin-right: 0;
                }
                &.menu {
                    background-position: center top;
                }
                &.battleship {
                    background-position: bottom;
                }
                &.notes {
                    background-position: -25px 0;
                    @include down($desktop) {
                        background-position: 0 0;
                    }
                    @include down($mobile) {
                        background-position: -20px 0;
                    }
                }
                &.guitar {
                    background-position: left center;
                }
                &.code-breaker {
                    background-position: top center;
                }
                &.mancala {
                    background-position: -30px 0;
                    @include down($desktop) {
                        background-position: center center;
                    }
                    @include down($mobile) {
                        background-position: -30px 0;
                    }
                }
                &.sinker {
                    @include down($extra-large) {
                        background-position: -150px 0;
                    }
                    @include down($desktop) {
                        background-position: center center;   
                    }
                    @include down($mobile) {
                        background-position: center center;
                    }
                    @media (max-width: 400px) {
                        background-position: -175px 0;
                    }
                }
                &.chord {
                    background-position: top center;
                }
                .learn-more,
                .card-label {
                    display: none;
                }
                &:hover,
                &:focus {
                    &::before {
                        content: "";
                        height: 100%;
                        width: 100%;
                        background-color: white;
                        opacity: 1;
                        position: absolute;
                        top: 0;
                        animation: add-overlay 0.25s ease-in-out;
                        @keyframes add-overlay {
                            from {
                                background-color: transparent;
                            }
                            to {
                                background-color: white;
                            }
                        }
                    }
                    .card-label {
                        z-index: 2;
                        color: black;
                        letter-spacing: 1.3px;
                        display: block;
                        font-size: 20px;
                        position: absolute;
                        top: 60px;
                        animation: top-slide-in-60 0.25s ease-in-out;
                        @include down($desktop) {
                            top: 45px;
                            animation: top-slide-in-45 0.25s ease-in-out;
                        }
                        @include down($tablet) {
                            font-size: 16px;
                            top: 40px;
                            animation: top-slide-in-40 0.25s ease-in-out;
                        }
                        @include down($mobile) {
                            font-size: 20px;
                            top: 75px;
                            animation: top-slide-in-75 0.25s ease-in-out;
                        }
                    }
                    .learn-more {
                        padding: 10px 16px;
                        background: transparent;
                        border: 2px solid orange;
                        outline: none;
                        z-index: 2;
                        cursor: pointer;
                        letter-spacing: 1.25px;
                        display: block;
                        text-transform: uppercase;
                        font-weight: 600;
                        position: absolute;
                        bottom: 60px;
                        transition: all 0.25s;
                        animation: bottom-slide-in-60 0.25s ease-in-out;
                        @include down($desktop) {
                            bottom: 45px;
                            font-size: 14px;
                            animation: bottom-slide-in-45 0.25s ease-in-out;
                        }
                        @include down($tablet) {
                            bottom: 35px;
                            padding: 8px 12px;
                            animation: bottom-slide-in-35 0.25s ease-in-out;
                        }
                        @include down($mobile-xl) {
                            padding: 8px 16px;
                        }
                        @include down($mobile) {
                            bottom: 75px;
                            font-size: 12px;
                            animation: bottom-slide-in-75 0.25s ease-in-out;
                        }
                        &:hover,
                        &:focus {
                            background: orange;
                            color: white;
                        }
                    }
                    @keyframes top-slide-in-60 {
                        from {
                            top: 0;
                        }
                        to {
                            top: 60px;
                        }
                    }
                    @keyframes top-slide-in-45 {
                        from {
                            top: 0;
                        }
                        to {
                            top: 45px;
                        }
                    }
                    @keyframes top-slide-in-40 {
                        from {
                            top: 0;
                        }
                        to {
                            top: 45px;
                        }
                    }
                    @keyframes top-slide-in-75 {
                        from {
                            top: 0;
                        }
                        to {
                            top: 75px;
                        }
                    }
                    @keyframes bottom-slide-in-60 {
                        from {
                            bottom: 0;
                        }
                        to {
                            bottom: 60px;
                        }
                    }
                    @keyframes bottom-slide-in-45 {
                        from {
                            bottom: 0;
                        }
                        to {
                            bottom: 45px;
                        }
                    }
                    @keyframes bottom-slide-in-35 {
                        from {
                            bottom: 0;
                        }
                        to {
                            bottom: 35px;
                        }
                    }
                    @keyframes bottom-slide-in-75 {
                        from {
                            bottom: 0;
                        }
                        to {
                            bottom: 75px;
                        }
                    }
                }
            }
        }
    }
}
