@use 'variables' as theme;
@use 'mixins' as mixins;

.email-recipe-form-with-tabs {
    margin-top: 120px;

    .form-type-tabs {
        display: flex;
        justify-content: center;
        column-gap: 16px;
        margin-bottom: 24px;

        .tab-button {
            background: theme.$white;
            color: theme.$default;
            border: none;
            padding: 8px 16px;
            cursor: pointer;
            font-size: 12px;
            border-radius: 4px;
            width: 150px;

            &.active {
                background: theme.$secondary-blue;
                color: theme.$white;
                font-weight: bold;
                border: none;
            }
        }
    }
}

.email-recipe-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .share-a-recipe-label {
        font-size: 16px;
        font-weight: 500;
    }

    .email-recipe-form {
        width: unquote("min(calc(100% - 16px), 700px)");
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 12px 0 40px;

        .form-field {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 24px;

            &:last-of-type {
                margin-bottom: 32px;
            }

            span {
                margin-bottom: 8px;
                font-size: 14px;

                @include mixins.down(theme.$desktop) {
                    margin-bottom: 4px;
                }
            }

            input,
            textarea {
                padding: 12px;
                border: none;
                border: 1px solid theme.$default;
                border-radius: 4px;
                font-size: 16px;
                background: theme.$white;
                outline: none;
                cursor: pointer;
                color: theme.$black;

                @include mixins.down(theme.$desktop) {
                    padding: 8px;
                }
            }

            textarea {
                max-height: 250px;
                min-height: 250px;
                max-width: 100%;
                min-width: 100%;

                @include mixins.down(theme.$desktop) {
                    max-height: 200px;
                    min-height: 200px;
                }
            }

            .error-message {
                color: theme.$sunshine;
                margin-top: 8px;
                display: block;
            }
        }

        .submit-btn {
            cursor: pointer;
            border: none;
            background-color: transparent;
            text-transform: uppercase;
            letter-spacing: 0.75px;
            color: theme.$secondary-blue;

            &:disabled {
                color: theme.$default;
                cursor: not-allowed;
            }
        }
    }
}