.overlay {
    width: 100%;
    height: 100vh;
    background: $overlay;
    backdrop-filter: blur(16px);
    position: absolute;
    top: 0;
    z-index: 2;
    display: none;
    cursor: pointer;

    &.opened {
        display: block;
    }

    &.layered-opened {
        z-index: 4;
    }
}

.grocery-list-modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grocery-list-modal {
    background: $aqua;
    position: absolute;
    top: 0;
    height: 100vh;
    width: unquote("min(100vw, 450px)");
    z-index: 3;
    left: -100%;
    padding: 24px;
    transition:
        display 0.5s ease-in-out,
        0.5s ease-in-out;
    display: none;
    &.opened {
        left: 0;
        display: block;
    }

    .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .close {
            background: none;
            border: none;
            color: $white;
            cursor: pointer;

            img {
                width: 20px;
                height: 20px;
            }
        }
    }

    .grocery-list {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        margin-top: 16px;
        max-height: calc(100vh - 120px);
        overflow-y: auto;
        scrollbar-width: none;

        .category-ingredient-container {
            display: flex;
            flex-direction: column;
            row-gap: 8px;

            .ingredient-category {
                font-size: 12px;
                color: $primary-blue;
            }

            .ingredient-date {
                font-size: 12px;
                color: $sunshine;
            }
        }

        .grocery-list-item {
            display: flex;
            align-items: flex-start;
            row-gap: 8px;
            column-gap: 8px;
            width: 100%;

            input[type="checkbox"] {
                min-height: 20px;
                min-width: 20px;
            }

            .grocery-list-item-detail-container {
                display: flex;
                flex-direction: column;
                row-gap: 6px;
                width: calc(100% - 28px);

                label {
                    &.checked {
                        color: $default;
                        text-decoration: line-through;
                        font-size: 16px;
                    }
                }

                .recipe-name {
                    font-size: 12px;
                    color: $default;
                    max-width: 100%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    span {
                        display: inline-block;
                    }
                }

                .ingredient-category {
                    color: $primary-blue;
                }
            }

            .grocery-input-container {
                display: flex;
                align-items: center;
                column-gap: 8px;
                justify-content: space-between;

                .edit-icon {
                    height: 12px;
                    cursor: pointer;
                }
            }

            input[type="text"] {
                background: none;
                outline: none;
                border: none;
                color: $white;
                width: 100%;
                font-size: 16px;
            }

            .recipe-category {
                font-size: 12px;
                color: $primary-blue;
            }

            .recipe-date {
                font-size: 12px;
                color: $sunshine;
            }
        }
    }

    .modal-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        position: absolute;
        bottom: 0;
        width: 100%;
        margin-left: -24px;
        padding: 0 24px;

        .delete-buttons-container {
            display: flex;
            align-items: center;
            column-gap: 24px;
            @include down($mobile) {
                column-gap: 16px;
            }

            span {
                color: $default;
                font-size: 12px;
                @include down($mobile) {
                    font-size: 10px;
                }
    
                &.has-values {
                    color: $primary-blue;
                    cursor: pointer;
                }
            }
        }
    }

    .dropdown-container {
        padding: 4px 8px;
        min-width: 80px;
        .dropdown-options-container {
            &.open-above {
                top: -62px;
            }
        }

        .dropdown-label {
            font-size: 12px;
        }

        li {
            list-style: none;
            padding: 8px;
            cursor: pointer;
            font-size: 12px;
            &:hover {
                background: $light;
                color: $aqua;
            }
        }

        .icon {
            height: 6px; 
            width: 10px;
        }
    }
}

.delete-grocery-item-modal,
.edit-ingredient-modal {
    position: absolute;
    top: 50vh;
    z-index: 5;
    padding: 24px;
    background: $dark-aqua;
    transform: translateY(-50%);
    width: unquote("min(calc(100% - 16px), 600px)");

    &.edit-ingredient-modal {
        height: 320px;
        padding: 24px 16px;
        .modal-content {
            justify-content: space-between;
            height: 100%;
            row-gap: 0;

            .top-container {
                display: flex;
                flex-direction: column;
                row-gap: 16px;
            }
            .modal-body {
                display: flex;
                flex-direction: column;
                row-gap: 16px;
                .edit-ingredient-input,
                .edit-recipe-name-input,
                .edit-recipe-date-input {
                    width: 100%;
                    padding: 8px 12px;
                    outline: none;
                    border: 1.5px solid $default;
                    background: $aqua;
                    color: $white;
                    font-size: 12px;
                    &::placeholder {
                        color: $default;
                    }
                    &::-ms-input-placeholder {
                        color: $default;
                    }
                }

                .category-dropdown-container {
                    position: relative;

                    .selected-category {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border: 1.5px solid $default;
                        padding: 6px 12px;
                        background: $aqua;
                        font-size: 12px;
                        cursor: pointer;

                        .chevron-arrow {
                            height: 12px;
                            transition: transform 0.3s ease;
                            &.is-open {
                                transform: rotate(180deg);
                            }
                        }
                    }

                    .category-selector {
                        display: none;
                        position: absolute;
                        max-height: 150px;
                        overflow-y: auto;
                        width: 100%;

                        &.is-open {
                            display: block;
                            z-index: 1;
                        }

                        .category-selector-item {
                            padding: 6px 12px;
                            background: $aqua;
                            border: 1.5px solid $default;
                            cursor: pointer;
                            border-top: none;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }

    .modal-content {
        display: flex;
        flex-direction: column;
        row-gap: 40px;

        .modal-header {
            display: flex;
            justify-content: space-between;
            width: 100%;
            column-gap: 16px;
            h3 {
                font-size: 16px;
                font-weight: 400;
            }
            img {
                width: 19px;
                height: 19px;
                cursor: pointer;
                padding: 1.5px;
            }
        }

        .edit-recipe-date-input {
            position: relative;
            .edit-recipe-date-label-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .edit-recipe-date-label {
                display: inline-block;
                width: 100%;
                cursor: pointer;
                &.is-default {
                    color: $default;
                }
            }
            .delete-date-btn {
                height: 14px;
                cursor: pointer;
            }
        }

        .modal-footer {
            display: flex;
            justify-content: flex-end;
            column-gap: 16px;

            button {
                padding: 6px 12px;
                border-radius: 16px;
                outline: none;
                border: 1.5px solid transparent;
                &.cancel-btn {
                    color: $white;
                    background: $black;
                    cursor: pointer;
                    &:hover {
                        background: $white;
                        color: $black;
                        border: 1.5px solid $default;
                    }
                }

                &.delete-btn {
                    background: $coral;
                    color: $white;
                    cursor: pointer;
                    &:hover {
                        background: $white;
                        color: $coral;
                        border: 1.5px solid $coral;
                    }
                }

                &.edit-btn {
                    background: $primary-blue;
                    color: $white;
                    cursor: pointer;
                    &:hover {
                        background: $white;
                        color: $primary-blue;
                        border: 1.5px solid $primary-blue;
                    }
                    &:disabled {
                        background: $default;
                        color: $black;
                        cursor: not-allowed;
                        border: 1.5px solid transparent;
                    }
                }
            }
        }
    }
}

.react-calendar {
    width: 350px;
    max-width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    .react-calendar__navigation {
        height: 24px;
        margin-bottom: 0;
        button {
            font-size: 12px;
        }
    }
    .react-calendar__viewContainer {
        .react-calendar__month-view__weekdays__weekday {
            padding: 4px 8px;
            abbr {
                font-size: 8px;
                text-decoration: none;
                color: $black;
            }
        }
    }
    .react-calendar__month-view__days__day {
        padding: 8px;
        &:not(:disabled) {
            color: $aqua;
        }
        abbr {
            font-size: 10px;
        }
    }
}