header {
    height: 100px;
    width: 100vw;
    position: fixed;
    z-index: 4;
    top: 0;
    @media (max-width: $mobile-xl) {
        &.opened {
            background-color: #ABCEFF;
        }
    }
    &.slateblue {
        background-color: #ABCEFF;
    }
    @media screen and (max-width: 450px) {
        height: 75px;
    }
    .logo {
        color: white;
        padding: 20px;
        margin-left: 25px;
        &:hover {
            cursor: pointer;
        }
        &.darker-font {
            color: black;
        }
        @media screen and (max-width: $tablet) {
            margin-left: 20px;
            padding: 10px;
        }
    }

    .links-container {
        display: flex;
        margin-right: 50px;
        @media screen and (max-width: $tablet) {
            margin-right: 25px;
        }
        @media screen and (max-width: $mobile-xl) {
            display: none;
        }
        h2 {
            color: white;
            padding: 0 25px;
            font-size: 20px;
            &:hover {
                cursor: pointer;
            }
            &.selected-page {
                text-decoration: underline;
                text-underline-offset: 3.5px;
            }
            &.darker-font {
                color: black;
            }
            @media screen and (max-width: $tablet) {
                font-size: 18px;
                padding: 0 15px;
            }
            @media screen and (max-width: $mobile-xl) {
                font-size: 16px;
            }
        }
    }
    .hamburger-toggle {
        display: none;
        margin-right: 25px;
        height: 24px;
        width: 25px;
        position: relative;
        @media screen and (max-width: $mobile-xl) {
            display: block;
        }
    }
    .ham-bars {
        height: 3px;
        width: 100%;
        background: white;
        position: absolute;
    }
    .ham-bars:nth-child(1) {
        top: 0px;
    }
    .ham-bars:nth-child(2) {
        top: 8px;
    }
    .ham-bars:nth-child(3) {
        top: 16px;
    }
    .nav-toggle {
        display: none;
        flex-direction: column;
        width: 100%; 
        position: absolute;
        background: white;
        top: 0;
        right: 0;
        margin-top: 100px;
        text-align: center;    
        justify-content: space-around;
        transition: 0.2s all ease-in;
        align-items: center;
        border-bottom: darkslategrey 1px solid;
        font-weight: 400;
        @media screen and (max-width: $mobile-xl) {
            margin-top: 75px;
            &.show-toggle {
                display: flex;
                &.less-transparent {
                    opacity: 1;
                }
            }
            &.close-toggle {
                display: none;
            }
        }
        h2 {
            width: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
            letter-spacing: 1px;
            &:not(:last-of-type) {
                border-bottom: 1px solid darkslategrey;
            }
        }
    }
}