@use 'variables' as theme;

.modal-content {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .close {
        background: none;
        border: none;
        color: theme.$white;
        cursor: pointer;

        img {
            width: 20px;
            height: 20px;
        }
    }
}

.modal-body {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    column-gap: 16px;

    button {
        padding: 6px 12px;
        border-radius: 16px;
        outline: none;
        border: 1.5px solid transparent;
        &.cancel-btn {
            color: theme.$white;
            background: theme.$black;
            cursor: pointer;
            &:hover {
                background: theme.$white;
                color: theme.$black;
                border: 1.5px solid theme.$default;
            }
        }

        &.delete-btn {
            background: theme.$coral;
            color: theme.$white;
            cursor: pointer;
            &:hover {
                background: theme.$white;
                color: theme.$coral;
                border: 1.5px solid theme.$coral;
            }
        }

        &.action-btn {
            background: theme.$primary-blue;
            color: theme.$white;
            cursor: pointer;
            &:hover {
                background: theme.$white;
                color: theme.$primary-blue;
                border: 1.5px solid theme.$primary-blue;
            }
            &:disabled {
                background: theme.$default;
                color: theme.$black;
                cursor: not-allowed;
                border: 1.5px solid transparent;
            }
        }
    }
}