.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .modal-tray {
        background: $aqua;
        position: absolute;
        top: 0;
        height: 100vh;
        width: unquote("min(95vw, 300px)");
        z-index: 3;
        left: -100%;
        padding: 24px;
        transition:
            display 0.5s ease-in-out,
            left 0.5s ease-in-out;
        display: none;
        &.opened {
            left: 0;
            display: block;
            animation: in 0.5s ease-in-out;
        }
        &.closed {
            left: -100%;
            display: none;
            animation: out 0.5s ease-in-out;
        }

        @media only screen and (hover: none) and (pointer: coarse) {
            height: calc(100vh - 108px);
        }

        .filters-container {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 16px;
        }

        .filter-category-container {
            display: flex;
            flex-direction: column;
            gap: 6px;

            .filter-category-label {
                font-size: 12px;
                font-weight: 400;
            }

            .dropdown-option {
                padding: 8px 16px;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }

    .modal-footer {
        position: absolute;
        bottom: 0;
        padding: 16px 0;
        background-color: $aqua;

        .total-ratio {
            font-size: 32px;
        }
    }
}
