// .music-page {
//     min-height: 100vh;
//     min-width: 100vw;
//     background-size: cover;
//     background-repeat: no-repeat;
//     position: relative;
//     @extend .fade-in;
//     &:before {
//         content: '';
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         background: black;
//         opacity: .4;
//     }
//     .music-inner-container {
//         z-index: 1;
//         width: 90%;
//         margin: 100px auto 0;
//         height: calc(100vh - 225px);
//         @media screen and (max-width: $desktop) {
//             height: calc(100vh - 200px);
//         }
//         @media screen and (max-width: $tablet) {
//             flex-direction: column;
//             align-items: center;
//             width: 100%;
//             justify-content: unset;
//             height: calc(100vh - 175px);
//         }
//         @media screen and (max-width: $mobile-xl) {
//             height: calc(100vh - 150px);
//             margin: 100px auto 0;
//         }
//         @media screen and (max-width: $mobile) {
//             margin: 85px auto 0;
//             height: calc(100vh - 125px);
//         }
//         @media screen and (max-width: $extra-small){
//             margin-bottom: 35px;
//         }
//         @media screen and (min-height: 1000px) {
//             height: 800px;
//         }
//         h1 {
//             color: white;
//             font-size: 48px;
//             margin-bottom: 35px;
//             @media screen and (max-width: $tablet) {
//                 font-size: 40px;
//             }
//         }
//         .music-cards {
//             width: 80%;
//             color: white;
//             overflow: auto;
//             @media screen and (max-width: $mobile) {
//                 width: 92%;
//             }
//             h4 {
//                 margin-bottom: 24px;
//                 font-size: 24px;
//                 text-decoration: underline;
//             }
//             .audio-control {
//                 margin-bottom: 24px;
//                 outline: none;
//                 @media (max-width: $mobile) {
//                     width: 260px;
//                 }
//             }
//             .music-card {
//                 margin-bottom: 50px;
//                 padding-bottom: 50px;
//                 border-bottom: 3px solid white;
//                 &:last-of-type {
//                     border-bottom: 0;
//                     padding-bottom: 0;
//                     margin-bottom: 80px;
//                 }
//                 p {
//                     margin-bottom: 24px;
//                     letter-spacing: 1px;
//                     .p-rel {
//                         display: inline-block;
//                         margin-bottom: 4px;
//                     }
//                     .p-abs {
//                         &.beginning {
//                             top: -100%;
//                             left: 0;
//                             font-size: 12px;
//                             letter-spacing: 0.5px;
//                         }
//                     }
//                     @media screen and (max-width: $mobile) {
//                         font-size: 12px;
//                         .p-abs {
//                             &.beginning {
//                                 font-size: 8px;
//                             }
//                         }
//                     }
//                     &:last-of-type {
//                         margin-bottom: 0;
//                     }
//                 }
//             }
//         }
//     }
// }

.music {
    display: block;
    height: auto;
    min-height: 100vh;
    padding: 80px;
    min-width: 100vw;
    position: relative;
    overflow-x: hidden;
    @include down($tablet) {
        padding: 56px 56px;
    }

    // &.sticky {
    //     align-items: unset;
    // }
    &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    .music-heading-container {
        position: relative;
        z-index: 1;

        .back-btn {
            cursor: pointer;
            color: $white;
            margin-bottom: 8px;
            display: block;

            &:hover {
                color: $primary-blue;
            }

            @include down($tablet) {
                color: $primary-blue;
            }
        }

        .music-heading {
            margin-bottom: 40px;
        }
    }

    .music-table {
        position: relative;
        z-index: 1;
        margin-bottom: 175px;

        .row {
            display: flex;
            list-style: none;
            padding: 12px;
            cursor: pointer;
            max-width: 650px;
            &.row-labels {
                margin-bottom: 8px;
                position: sticky;
                top: 0;
                li {
                    color: $default;
                }
                &.sticky {
                    border-bottom: 1px solid $default;
                    background: $hover;
                }
            }
            &.row-item {
                &:hover {
                    background: $hover;
                    border-radius: 4px;
                }
            }

            .id {
                width: 24px;
                text-align: right;

                .id-number {
                    display: block;
                    &.selected-song {
                        color: $primary-blue;
                    }
                }

                .play-btn {
                    width: 16px;
                    height: 16px;
                    &.double-digits {
                        transform: translate(-1px, 0);
                    }
                    &.single-digit {
                        transform: translate(2px, 0);
                    }
                }
            }
            .song-name {
                width: 275px;
                padding-left: 32px;
                @include down($tablet) {
                    max-width: 275px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                &.selected-song {
                    color: $primary-blue;
                }
            }
            .added-at {
                width: 150px;
                text-align: center;
                @include down($mobile-xl) {
                    display: none;
                }
            }
            .created-at {
                width: 100px;
                text-align: center;
                @include down($tablet) {
                    display: none;
                }
            }
            .time {
                width: 100px;
                text-align: center;
            }
        }
    }

    .music-player {
        position: fixed;
        bottom: 0;
        padding: 40px 32px;
        background: $dark-aqua;
        z-index: 3;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100vw;
        margin-left: -80px;
        @include down($tablet) {
            margin-left: -56px;
        }
        @include down($mobile-xl) {
            flex-direction: column;
            padding: 32px 16px;
        }

        .song-detail-container {
            display: flex;
            flex-direction: column;
            min-width: 200px;
            @include down($tablet) {
                min-width: unset;
            }
            @include down($mobile-xl) {
                display: none;
            }

            .song-name {
                font-size: 16px;
                color: $white;
                margin-bottom: 12px;
            }

            .artist-name {
                font-size: 16px;
                color: $default;
            }
        }

        .interactions-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;

            .icon-buttons-container {
                display: flex;
                align-items: center;
                margin-bottom: 16px;

                .logo-btn {
                    height: 24px;
                    width: 24px;
                    margin-right: 32px;
                    &:last-of-type {
                        margin-right: 0;
                    }
                    &:hover {
                        transform: scale(1.25);
                    }
                }

                .shuffle-logo,
                .repeat-logo {
                    height: 28px;
                    width: 28px;
                    &.selected-type {
                        color: $primary-blue;
                    }
                }
                .shuffle-btn {
                    margin-top: -1px;
                }
                .repeat-logo {
                    margin-top: 6px;
                }
            }
            .progress-bar-container {
                display: flex;
                align-items: center;

                .progress-time {
                    min-width: 40px;
                }

                &:hover {
                    .progress-bar {
                        position: relative;

                        .progress-bar-fill {
                            background: $primary-blue;
                        }

                        .progress-peg {
                            position: absolute;
                            top: 0;
                            transform: translate(-50%, -25%);
                            height: 18px;
                            width: 18px;
                            border-radius: 50%;
                            background: $white;
                        }
                    }
                }
                .progress-bar {
                    border-radius: 12px;
                    background: $default;
                    height: 6px;
                    width: 250px;
                    margin-left: 8px;
                    margin-right: 8px;
                    @include down($mobile-xl) {
                        width: 200px;
                    }

                    .progress-bar-fill {
                        border-radius: 12px;
                        background: $white;
                        height: 100%;
                    }
                }
            }
        }

        .supplementary-interactions-container {
            display: flex;
            align-items: center;
            position: relative;
            cursor: pointer;
            @include down($desktop) {
                display: none;
            }

            .logo-btn {
                height: 28px;
                width: 28px;
                margin-right: 24px;
                &:last-of-type {
                    margin-right: 16px;
                }
                &:hover {
                    transform: scale(1.25);
                }
            }

            .volume-container {
                height: 8px;
                width: 100px;
                background: $default;
                border-radius: 12px;
                position: relative;
                &:hover {
                    .volume-bar {
                        background: $primary-blue;
                    }

                    .volume-peg {
                        position: absolute;
                        top: 0;
                        transform: translate(25%, -25%);
                        height: 18px;
                        width: 18px;
                        border-radius: 50%;
                        background: $white;
                    }
                }

                .volume-bar {
                    border-radius: 12px;
                    background: $white;
                    height: 100%;
                }
            }
        }
    }

    .queue-modal {
        position: absolute;
        background: $dark-aqua;
        width: 400px;
        top: 0;
        right: -400px;
        height: 100%;
        z-index: 5;
        border-left: solid $aqua 1px;
        display: none;
        overflow-y: hidden;
        max-height: 100vh;
        &.opened {
            right: 0;
            display: block;
            animation: slide-in 1s ease-in-out;
            transition: right 1s;
        }
        &.closed {
            right: -400px;
            animation: slide-out 1s ease-in-out;
            transition: right 1s;
        }

        .heading-container {
            display: flex;
            justify-content: space-between;
            padding: 24px;

            .close-btn {
                cursor: pointer;
                background: none;
                border: none;
                outline: none;
                img {
                    height: 24px;
                    width: 24px;
                }
            }
        }

        .song-list-container {
            overflow-y: scroll;
            padding: 0 24px;
            max-height: calc(100% - 100px);

            .song-list-item {
                display: flex;
                align-items: center;
                margin-bottom: 8px;
                cursor: pointer;
                padding: 12px;
                border-radius: 4px;
                &.selected-song {
                    background: $hover;
                    .song-name, .song-number {
                        color: $primary-blue;
                    }
                }
                &:hover {
                    background: $hover;
                    .song-name {
                        color: $primary-blue;
                    }
                }

                .play-btn {
                    height: 16px;
                    width: 16px;
                    &.double-digits {
                        transform: translate(-1px, 0);
                    }
                    &.single-digit {
                        transform: translate(2px, 0);
                    }
                }

                .song-number {
                    color: $white;
                    font-size: 20px;
                    min-width: 24px;
                    text-align: right;
                    margin-right: 24px;
                }

                .song-details {
                    display: flex;
                    flex-direction: column;

                    .song-name {
                        font-size: 16px;
                        margin-bottom: 4px;
                    }

                    .artist-name {
                        color: $default;
                    }
                }
            }
        }
    }
}

@keyframes slide-in {
    from {
        right: -400px;
    }
    to {
        right: 0;
    }
}

@keyframes slide-out {
    from {
        right: 0;
    }
    to {
        right: -400px;
    }
}
