.pokemon-page {
    height: 100vh;
    width: 100vw;
    background: $silver;
    display: flex;
    align-items: center;
    flex-direction: column;
    @extend .fade-in;
    .ditto-img-container {
        margin-top: 100px;
        position: relative;
        min-height: 200px;
        min-width: 200px;
        .ditto-img {
            height: 200px;
            width: 200px;
            animation: jump 1s ease-in-out infinite;
            transform: translate(0, 0);
            &.transition-out {
                display: none;
                animation: transition-in .35s ease-in-out;
            }
        }
        .glow {
            background: #c87de6;
            opacity: 0.35;
            height: 70px;
            width: 70px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            animation: transform 1s ease-in-out;
            clip-path: polygon(40% 0%, 41% 2%, 42% 3%, 44% 10%, 50% 20%, 60% 8%, 65% 12%, 70% 25%, 71% 30%, 72% 35%, 73% 41%, 75% 40%, 80% 40%, 85% 40%, 80% 55%, 75% 60%, 80% 70%, 90% 80%, 98% 96%, 100% 100%, 98% 98%, 80% 90%, 70% 85%, 60% 90%, 50% 100%, 30% 85%, 15% 100%, 10% 95%, 0% 85%, 15% 70%, 25% 45%, 15% 30%, 12% 25%, 20% 23%, 25% 23%, 30% 23%, 35% 20%, 40% 0%);
            &.hide {
                display: none;
                animation: transition-in .35s ease-in-out;
            }
        }

        @keyframes jump {
            0% {
                transform: translate(0, 0);
            }
            50% {
                transform: translate(0, 25px);
            }
            100% {
                transform: translate(0, 0);
            }
        }

        @keyframes transition-in {
            0% {
                display: block;
            }
            100% {
                display: none;
            }
        }
    }

    .pokemon-list-container {
        width: 80%;
        overflow: scroll;
        margin-top: 25px;
        margin-bottom: 25px;
        padding-bottom: 25px;
        .pokemon-button {
            padding: 8px 16px;
            margin: 6px;
            cursor: pointer;
            border-radius: 16px;
            border: none;
            outline: none;
            letter-spacing: 1.5px;
            font-size: 16px;
            text-transform: capitalize;
            &.selected {
                background: red;
                color: white;
            }
        }
    }
}
