.filters-container {
    width: 100%;
    background: $aqua;
    padding: 24px 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    column-gap: 16px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    animation: slide-in-large 0.3s ease-in-out;
    transform: translate(0, 150px);
    @include down($tablet) {
        animation: slide-in-medium 0.3s ease-in-out;
        transform: translate(0, 130px);
    }
    @include down($mobile-xl) {
        animation: slide-in-small 0.3s ease-in-out;
        transform: translate(0, 205px);
    }
    @include down(498px) {
        flex-direction: column;
        align-items: center;
    }

    &.is-closing {
        animation: slide-out-large 0.3s ease-in-out;
        transform: translate(100%, 150px);
        @include down($tablet) {
            animation: slide-out-medium 0.3s ease-in-out;
            transform: translate(100%, 130px);
        }
        @include down($mobile-xl) {
            animation: slide-out-small 0.3s ease-in-out;
            transform: translate(100%, 205px);
        }
    }

    @keyframes slide-in-large {
        0% {
            transform: translate(100%, 150px);
        }
        100% {
            transform: translate(0, 150px);
        }
    }
    @keyframes slide-in-medium {
        0% {
            transform: translate(100%, 130px);
        }
        100% {
            transform: translate(0, 130px);
        }
    }
    @keyframes slide-in-small {
        0% {
            transform: translate(100%, 205px);
        }
        100% {
            transform: translate(0, 205px);
        }
    }

    @keyframes slide-out-large {
        0% {
            transform: translate(0%, 150px);
        }
        100% {
            transform: translate(100%, 150px);
        }
    }
    @keyframes slide-out-medium {
        0% {
            transform: translate(0%, 130px);
        }
        100% {
            transform: translate(100%, 130px);
        }
    }
    @keyframes slide-out-small {
        0% {
            transform: translate(0%, 205px);
        }
        100% {
            transform: translate(100%, 205px);
        }
    }

    .filter-container {
        min-width: 225px;

        &:last-of-type {
            .selected-filters {
                margin-bottom: 0;
            }
        }

        @include up(1220px) {
            .selected-filters {
                margin-bottom: 0;
            }
        }

        // 739 - 979
        @include between(738px, 979px) {
            &:nth-of-type(4) {
                .selected-filters {
                    margin-bottom: 0;
                }
            }
        }

        @include down(498px) {
            &:last-of-type {
                .selected-filters {
                    margin-bottom: 16px;
                }
            }
        }
    }

    h4 {
        margin-bottom: 8px;
        width: fit-content;
    }

    .dropdown-container {
        margin-bottom: 16px; 

        .selected-filter-chip {
            padding: 2px 8px;
            border: 1px solid $white;
            border-radius: 16px;
            margin-right: 6px;
        }

        .select-all-text {
            padding: 8px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
  
        .filter-selector {
            max-height: 200px;
            overflow-y: scroll;
            list-style-type: none;

            .filter-selector-item {
                padding: 8px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;

                &:hover {
                    background: $light;
                    color: $aqua;
                }

                &:last-of-type {
                    border-bottom: none;
                }
            }
        }
    }

    .filter-btn-container {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 24px;
    }

    .filter-btn {
        border: 1px solid $primary-blue;
        border-radius: 20px;
        padding: 2px 8px;
        margin-right: 6px;
        margin-top: 6px;
    }

    .checkbox {
        height: 24px;
        width: 24px;
        border-radius: 4px;
        border: 1px solid $default;
        padding: 2px 3px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon {
        height: 12px;
        width: 16px;

        &.partial {
            height: 2px;
            width: 12px;
        }
    }

    .total-ratio {
        font-size: 32px;
    }
}
