.recipe {
    display: block;
    height: auto;
    min-height: 100vh;
    padding: 80px;
    min-width: 100vw;
    position: relative;
    overflow-x: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    overflow-y: scroll;

    @include down($tablet) {
        padding: 56px 56px;
    }
    @include down($mobile) {
        padding: 56px 24px;
    }
    &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
    }

    .recipe-details {
        .recipe-image {
            aspect-ratio: 1/1;
            width: 350px;
            margin-bottom: 24px;
            @include down($mobile) {
                width: 100%;
            }
        }

        .prep-time {
            margin-bottom: 4px;
        }

        .cook-time {
            margin-bottom: 4px;
        }

        .yields {
            margin-bottom: 24px;
        }

        .recipe-detail-label {
            margin-bottom: 4px;
            font-size: 20px;
        }

        .recipe-detail-list {
            margin-bottom: 40px;
            list-style: none;
            &.numbered {
                list-style-type: decimal;
                padding-left: 24px;
                margin-bottom: 0;
                li {
                    margin-bottom: 8px;
                }
            }
            li {
                margin-bottom: 4px;
            }
        }

        .recipe-container,
        .separated-recipe-container {
            margin-bottom: 48px;
            .separated-recipe-detail-label {
                margin-bottom: 8px;
                text-decoration: underline;
                text-underline-offset: 4px;
            }
            .sectioned-recipe-container {
                margin-bottom: 24px;
            }
            .checkbox-ingredient-container {
                margin-bottom: 6px;
                .checkbox-ingredient {
                    margin-right: 6px;
                    min-height: 16px;
                    min-width: 16px;
                    transform: translateY(2px);
                }
            }
            .separated-recipe-detail-list {
                margin-bottom: 24px;
                padding-left: 16px;
                &.numbered {
                    list-style-type: decimal;
                    padding-left: 24px;
                    margin-bottom: 0;
                    li {
                        margin-bottom: 8px;
                    }
                }
                li {
                    margin-bottom: 4px;
                }
            }
            &:last-of-type {
                .separated-recipe-detail-list {
                    margin-bottom: 40px;
                }
            }
        }

        .recipe-notes {
            list-style: none;
            li {
                margin-bottom: 8px;
            }
        }

        .figure-label-anchor {
            color: $primary-blue;
        }

        .figures-container {
            margin-top: 40px;
            .figure-container {
                display: flex;
                flex-direction: column;

                label {
                    margin-bottom: 6px;
                    color: $primary-blue;
                }
            }
        }
    }
}
