@use "variables" as theme;
@use "mixins" as mixins;

.recipe {
    overflow-y: scroll;
    position: relative;

    .heading-container {
        margin-bottom: 40px;

        .heading {
            margin-bottom: 0;

            &.font-size-extra-large {
                font-size: 36px;
            }

            &.font-size-large {
                font-size: 32px;
            }

            &.font-size-medium {
                font-size: 28px;
            }

            &.font-size-small {
                font-size: 24px;
            }

            &.font-size-extra-small {
                font-size: 20px;
            }
        }

        .custom-heading-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 8px;
        }

        .icons-wrapper {
            display: flex;
            align-items: center;
            column-gap: 16px;
        }

        .settings-img {
            height: 24px;
            cursor: pointer;
        }

        .list-img {
            height: 24px;
            cursor: pointer;
        }
    }

    .recipe-details {
        .cook-mode {
            margin-bottom: 40px;

            .switch-toggle {
                &.font-size-extra-large {
                    .switch-label {
                        font-size: 24px;
                    }
                }

                &.font-size-large {
                    .switch-label {
                        font-size: 20px;
                    }
                }

                &.font-size-medium {
                    .switch-label {
                        font-size: 18px;
                    }
                }

                &.font-size-small {
                    .switch-label {
                        font-size: 16px;
                    }
                }

                &.font-size-extra-small {
                    .switch-label {
                        font-size: 14px;
                    }
                }
            }
        }

        .recipe-image,
        .additional-recipe-image,
        .additional-recipe-video {
            width: 350px;
            margin-bottom: 24px;

            @include mixins.down(theme.$mobile) {
                width: 100%;
            }

            display: flex;
            justify-content: center;
            align-items: center;
            background: theme.$primary-blue;
            color: theme.$black;

            &.empty {
                aspect-ratio: 1 / 1;
            }
        }

        .prep-time {
            margin-bottom: 8px;

            .prep-time-label {
                &.font-size-extra-large {
                    font-size: 24px;
                }

                &.font-size-large {
                    font-size: 20px;
                }

                &.font-size-medium {
                    font-size: 18px;
                }

                &.font-size-small {
                    font-size: 16px;
                }

                &.font-size-extra-small {
                    font-size: 14px;
                }
            }
        }

        .cook-time {
            margin-bottom: 8px;

            .cook-time-label {
                &.font-size-extra-large {
                    font-size: 24px;
                }

                &.font-size-large {
                    font-size: 20px;
                }

                &.font-size-medium {
                    font-size: 18px;
                }

                &.font-size-small {
                    font-size: 16px;
                }

                &.font-size-small {
                    font-size: 14px;
                }
            }
        }

        .wait-time {
            margin-bottom: 8px;

            .wait-time-label {
                &.font-size-extra-large {
                    font-size: 24px;
                }

                &.font-size-large {
                    font-size: 20px;
                }

                &.font-size-medium {
                    font-size: 18px;
                }

                &.font-size-small {
                    font-size: 16px;
                }

                &.font-size-extra-small {
                    font-size: 14px;
                }
            }
        }

        .inaccurate-badge {
            color: theme.$white;
            font-size: 10px;
        }

        .yields-container {
            margin-bottom: 24px;
            display: flex;
            flex-direction: column;
            row-gap: 6px;

            .yields {
                display: flex;
                column-gap: 8px;

                .yield-text {
                    display: inline-block;
                    margin-top: 6px;

                    &.font-size-extra-large {
                        font-size: 24px;
                    }

                    &.font-size-large {
                        font-size: 20px;
                    }

                    &.font-size-medium {
                        font-size: 18px;
                    }

                    &.font-size-small {
                        font-size: 16px;
                    }

                    &.font-size-extra-small {
                        font-size: 14px;
                    }
                }

                .yield-amount-container {
                    display: flex;
                    flex-direction: row;
                    column-gap: 8px;
                    align-items: center;

                    @include mixins.down(theme.$mobile) {
                        flex-direction: column;
                        row-gap: 8px;
                        align-items: flex-start;
                    }

                    .applied-yield-input-container {
                        display: flex;
                        column-gap: 5px;
                        align-items: center;

                        .applied-yield-input {
                            padding: 6px 8px;
                            width: 60px;

                            &.font-size-extra-large {
                                font-size: 24px;
                            }

                            &.font-size-large {
                                font-size: 20px;
                            }

                            &.font-size-medium {
                                font-size: 18px;
                            }

                            &.font-size-small {
                                font-size: 16px;
                            }

                            &.font-size-extra-small {
                                font-size: 14px;
                            }
                        }

                        .applied-yield-text {
                            &.font-size-extra-large {
                                font-size: 24px;
                            }

                            &.font-size-large {
                                font-size: 20px;
                            }

                            &.font-size-medium {
                                font-size: 18px;
                            }

                            &.font-size-small {
                                font-size: 16px;
                            }

                            &.font-size-extra-small {
                                font-size: 14px;
                            }
                        }
                    }

                    .dash {
                        @include mixins.down(theme.$mobile) {
                            display: none;
                        }

                        &.font-size-extra-large {
                            font-size: 24px;
                        }

                        &.font-size-large {
                            font-size: 20px;
                        }

                        &.font-size-medium {
                            font-size: 18px;
                        }

                        &.font-size-small {
                            font-size: 16px;
                        }

                        &.font-size-extra-small {
                            font-size: 14px;
                        }
                    }

                    .quick-yield-adjustment-container {
                        display: flex;
                        column-gap: 8px;
                        align-items: center;

                        .scale-text {
                            &.font-size-large {
                                font-size: 24px;
                            }

                            &.font-size-large {
                                font-size: 20px;
                            }

                            &.font-size-medium {
                                font-size: 18px;
                            }

                            &.font-size-small {
                                font-size: 16px;
                            }

                            &.font-size-extra-small {
                                font-size: 14px;
                            }
                        }

                        .quick-yield-adjustment {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 4px 8px;
                            border: 1px solid theme.$default;
                            border-radius: 4px;
                            cursor: pointer;

                            &.active {
                                background: theme.$primary-blue;
                                color: theme.$white;
                                border: 1px solid theme.$primary-blue;
                            }

                            &.font-size-extra-large {
                                font-size: 24px;
                            }

                            &.font-size-large {
                                font-size: 20px;
                            }

                            &.font-size-medium {
                                font-size: 18px;
                            }

                            &.font-size-small {
                                font-size: 16px;
                            }

                            &.font-size-extra-small {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }

        .recipe-ingredients-label-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            column-gap: 16px;
            row-gap: 8px;
            margin-bottom: 16px;

            .recipe-detail-label {
                margin-bottom: 0;
            }

            .grocery-list-button-container {
                display: flex;
                align-items: center;
                column-gap: 24px;

                span {
                    color: theme.$primary-blue;
                }

                .select-all-button {
                    cursor: pointer;

                    &.font-size-extra-large {
                        font-size: 24px;
                    }

                    &.font-size-large {
                        font-size: 20px;
                    }

                    &.font-size-medium {
                        font-size: 18px;
                    }

                    &.font-size-small {
                        font-size: 16px;
                    }

                    &.font-size-extra-small {
                        font-size: 14px;
                    }
                }

                .add-to-list-button {
                    color: theme.$default;

                    &.active {
                        color: theme.$primary-blue;
                        cursor: pointer;
                    }

                    &.font-size-extra-large {
                        font-size: 24px;
                    }

                    &.font-size-large {
                        font-size: 20px;
                    }

                    &.font-size-medium {
                        font-size: 18px;
                    }

                    &.font-size-small {
                        font-size: 16px;
                    }

                    &.font-size-extra-small {
                        font-size: 14px;
                    }
                }
            }
        }

        .recipe-detail-label {
            margin-bottom: 16px;

            &.font-size-extra-large {
                font-size: 32px;
            }

            &.font-size-large {
                font-size: 28px;
            }

            &.font-size-medium {
                font-size: 24px;
            }

            &.font-size-small {
                font-size: 20px;
            }

            &.font-size-extra-small {
                font-size: 18px;
            }
        }

        .recipe-detail-list {
            margin-bottom: 40px;
            list-style: none;

            &.numbered {
                list-style-type: decimal;
                padding-left: 24px;

                li {
                    margin-bottom: 8px;
                }
            }

            li {
                margin-bottom: 10px;
                line-height: 1.35;

                .recipe-step,
                .recipe-step-link,
                .figure-label-anchor,
                &.appliance-item {
                    &.font-size-extra-large {
                        font-size: 24px;
                    }

                    &.font-size-large {
                        font-size: 20px;
                    }

                    &.font-size-medium {
                        font-size: 18px;
                    }

                    &.font-size-small {
                        font-size: 16px;
                    }

                    &.font-size-extra-small {
                        font-size: 14px;
                    }
                }
            }
        }

        .recipe-layout-standard {
            display: flex;
            column-gap: 120px;
            margin-top: 80px;

            @include mixins.down(theme.$desktop) {
                flex-direction: column;
                margin-top: 40px;

                .recipe-ingredients-supplies-and-appliances-container {
                    display: flex;
                    flex-direction: column-reverse;
                }
            }

            .recipe-ingredients-label-container {
                flex-direction: column;
                align-items: flex-start;
                row-gap: 16px;

                @include mixins.down(theme.$desktop) {
                    flex-direction: row;
                    align-items: center;
                    row-gap: 8px;
                }
            }
        }

        .checkbox-supply-container {
            display: flex;
            align-items: flex-start;
            margin-bottom: 10px;

            .checkbox-supply {
                margin-right: 8px;
                transform: translateY(4px);

                &.font-size-extra-large {
                    width: 24px;
                    height: 24px;
                }

                &.font-size-large {
                    width: 20px;
                    height: 20px;
                }

                &.font-size-medium {
                    width: 18px;
                    height: 18px;
                }

                &.font-size-small {
                    width: 16px;
                    height: 16px;
                }

                &.font-size-extra-small {
                    width: 14px;
                    height: 14px;
                }
            }

            .supply-label {
                display: inline;
                cursor: pointer;
            }

            .checkbox-supply-label {
                &.font-size-extra-large {
                    font-size: 24px;
                }

                &.font-size-large {
                    font-size: 20px;
                }

                &.font-size-medium {
                    font-size: 18px;
                }

                &.font-size-small {
                    font-size: 16px;
                }

                &.font-size-extra-small {
                    font-size: 14px;
                }
            }

            .supply-additional-details {
                color: theme.$darkgrey;

                &.font-size-extra-large {
                    font-size: 24px;
                }

                &.font-size-large {
                    font-size: 20px;
                }

                &.font-size-medium {
                    font-size: 18px;
                }

                &.font-size-small {
                    font-size: 16px;
                }

                &.font-size-extra-small {
                    font-size: 14px;
                }
            }
        }

        .recipe-container,
        .separated-recipe-container {
            margin-bottom: 48px;

            &.direction-container {
                margin-bottom: 32px;
            }

            .separated-recipe-detail-label {
                margin-bottom: 8px;
                font-weight: normal;
                font-style: italic;
                color: theme.$sunshine;

                &.font-size-extra-large {
                    font-size: 28px;
                }

                &.font-size-large {
                    font-size: 24px;
                }

                &.font-size-medium {
                    font-size: 20px;
                }

                &.font-size-small {
                    font-size: 18px;
                }

                &.font-size-extra-small {
                    font-size: 16px;
                }
            }

            .sectioned-recipe-container {
                margin-bottom: 24px;
            }

            .checkbox-ingredient-container {
                display: flex;
                align-items: flex-start;
                margin-bottom: 10px;

                .checkbox-ingredient {
                    margin-right: 8px;
                    min-height: 20px;
                    min-width: 20px;
                    transform: translateY(2px);

                    &.font-size-extra-large {
                        width: 24px;
                        height: 24px;
                    }

                    &.font-size-large {
                        width: 20px;
                        height: 20px;
                    }

                    &.font-size-medium {
                        width: 18px;
                        height: 18px;
                    }

                    &.font-size-small {
                        width: 16px;
                        height: 16px;
                    }

                    &.font-size-extra-small {
                        width: 14px;
                        height: 14px;
                    }
                }

                .ingredient-label-with-link {
                    color: theme.$primary-blue;
                    text-underline-offset: 4px;
                    cursor: pointer;
                }

                .ingredient-label-with-link,
                .ingredient-label {
                    display: inline;
                    cursor: pointer;
                }

                .ingredient-additional-details {
                    color: theme.$darkgrey;

                    &.font-size-extra-large {
                        font-size: 24px;
                    }

                    &.font-size-large {
                        font-size: 20px;
                    }

                    &.font-size-medium {
                        font-size: 18px;
                    }

                    &.font-size-small {
                        font-size: 16px;
                    }

                    &.font-size-extra-small {
                        font-size: 14px;
                    }
                }

                .ingredient-name {
                    &.font-size-extra-large {
                        font-size: 24px;
                    }

                    &.font-size-large {
                        font-size: 20px;
                    }

                    &.font-size-medium {
                        font-size: 18px;
                    }

                    &.font-size-small {
                        font-size: 16px;
                    }

                    &.font-size-extra-small {
                        font-size: 14px;
                    }
                }
            }

            .separated-recipe-detail-list {
                padding-left: 0;
                margin-bottom: 0;
                counter-reset: step-counter;

                .recipe-step-list-item {
                    display: grid;
                    grid-template-columns: auto 1fr;
                    grid-column-gap: 16px;
                    align-items: start;
                    text-wrap: auto;
                    padding: 24px 8px;
                    border-bottom: 1px solid theme.$default;
                    counter-increment: step-counter;
                    line-height: 150%;
                    max-width: 600px;

                    @include mixins.down(theme.$extra-large) {
                        max-width: 500px;
                    }

                    @include mixins.down(theme.$mid-desktop) {
                        max-width: 400px;
                    }

                    @include mixins.down(theme.$desktop) {
                        max-width: 600px;
                    }

                    @include mixins.down(theme.$mobile-xl) {
                        max-width: 100%;
                    }

                    &:first-of-type {
                        padding-top: 16px;
                    }

                    &:last-of-type {
                        border-bottom: none;
                    }

                    &::before {
                        content: counter(step-counter) ".";
                        font-size: 40px;
                        line-height: 1;
                        grid-column: 1;
                        align-self: start;
                    }

                    &.direction-checked {
                        &::before {
                            content: '✓';
                            font-weight: bold;
                            line-height: 1;
                            grid-column: 1;
                            align-self: start;
                            background: theme.$forest;
                            border-radius: 50%;
                            width: 40px;
                            height: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: white;
                            padding: 4px;
                        }
                    }

                    >* {
                        grid-column: 2;
                        margin: 0;
                    }

                    .recipe-step,
                    .recipe-step-link,
                    .figure-label-anchor {
                        &.font-size-extra-large {
                            font-size: 24px;
                        }

                        &.font-size-large {
                            font-size: 20px;
                        }

                        &.font-size-medium {
                            font-size: 18px;
                        }

                        &.font-size-small {
                            font-size: 16px;
                        }

                        &.font-size-extra-small {
                            font-size: 14px;
                        }
                    }
                }
            }

            &:last-of-type {
                .separated-recipe-detail-list {
                    margin-bottom: 40px;
                }
            }
        }

        .notes-label,
        .storage-label,
        .reheat-label,
        .website-label {
            margin-top: 32px;
        }

        .recipe-notes,
        .recipe-storage,
        .recipe-reheat {
            padding-left: 16px;

            li {
                margin-bottom: 8px;
                line-height: 1.35;

                .recipe-note {
                    &.font-size-extra-large {
                        font-size: 24px;
                    }

                    &.font-size-large {
                        font-size: 20px;
                    }

                    &.font-size-medium {
                        font-size: 18px;
                    }

                    &.font-size-small {
                        font-size: 16px;
                    }

                    &.font-size-extra-small {
                        font-size: 14px;
                    }
                }

                .method-type {
                    color: theme.$primary-blue;
                    font-weight: bold;

                    &.font-size-extra-large {
                        font-size: 24px;
                    }

                    &.font-size-large {
                        font-size: 20px;
                    }

                    &.font-size-medium {
                        font-size: 18px;
                    }

                    &.font-size-small {
                        font-size: 16px;
                    }

                    &.font-size-extra-small {
                        font-size: 14px;
                    }
                }

                .storage,
                .instruction {
                    &.font-size-extra-large {
                        font-size: 24px;
                    }

                    &.font-size-large {
                        font-size: 20px;
                    }

                    &.font-size-medium {
                        font-size: 18px;
                    }

                    &.font-size-small {
                        font-size: 16px;
                    }

                    &.font-size-extra-small {
                        font-size: 14px;
                    }
                }

                .note-image {
                    margin-top: 12px;
                    width: 350px;
                    margin-bottom: 24px;

                    @include mixins.down(theme.$mobile) {
                        width: 100%;
                    }
                }
            }
        }

        .figure-label-anchor {
            color: theme.$primary-blue;
            display: inline-block;
            cursor: pointer;
        }

        .figures-container {
            margin-top: 40px;

            .figure-container {
                display: flex;
                flex-direction: column;

                .figure-label {
                    margin-bottom: 6px;
                    color: theme.$primary-blue;

                    &.font-size-extra-large {
                        font-size: 24px;
                    }

                    &.font-size-large {
                        font-size: 20px;
                    }

                    &.font-size-medium {
                        font-size: 18px;
                    }

                    &.font-size-small {
                        font-size: 16px;
                    }

                    &.font-size-extra-small {
                        font-size: 14px;
                    }
                }
            }
        }

        .link-text {
            color: theme.$primary-blue;
            text-decoration: underline;
            text-underline-offset: 4px;
        }

        .recipe-websites-list {
            display: flex;
            flex-direction: column;
            row-gap: 16px;
            margin-top: 8px;
            padding-left: 16px;

            .recipe-website-item {
                .recipe-website-link {
                    margin-bottom: 4px;

                    .recipe-link {
                        color: theme.$primary-blue;
                        text-decoration: unset;
                        text-underline-offset: 4px;

                        &.font-size-extra-large {
                            font-size: 24px;
                        }

                        &.font-size-large {
                            font-size: 20px;
                        }

                        &.font-size-medium {
                            font-size: 18px;
                        }

                        &.font-size-small {
                            font-size: 16px;
                        }

                        &.font-size-extra-small {
                            font-size: 14px;
                        }
                    }

                    .recipe-author {
                        color: theme.$primary-blue;

                        &.font-size-extra-large {
                            font-size: 24px;
                        }

                        &.font-size-large {
                            font-size: 20px;
                        }

                        &.font-size-medium {
                            font-size: 18px;
                        }

                        &.font-size-small {
                            font-size: 16px;
                        }

                        &.font-size-extra-small {
                            font-size: 14px;
                        }
                    }

                    .no-link-label-and-author {
                        color: theme.$white;

                        &.font-size-extra-large {
                            font-size: 24px;
                        }

                        &.font-size-large {
                            font-size: 20px;
                        }

                        &.font-size-medium {
                            font-size: 18px;
                        }

                        &.font-size-small {
                            font-size: 16px;
                        }

                        &.font-size-extra-small {
                            font-size: 14px;
                        }
                    }
                }

                .recipe-finder {
                    color: theme.$default;

                    &.font-size-extra-large {
                        font-size: 24px;
                    }

                    &.font-size-large {
                        font-size: 20px;
                    }

                    &.font-size-medium {
                        font-size: 18px;
                    }

                    &.font-size-small {
                        font-size: 16px;
                    }

                    &.font-size-extra-small {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .loader-container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 200px;

        .watermelon {
            transform: unset;
            position: relative;
            left: unset;
            top: unset;
        }
    }

    .add-ingredients-to-grocery-list-modal,
    .add-supplies-to-grocery-list-modal {
        position: absolute;
        top: 50vh;
        left: -50%;
        z-index: 5;
        background: theme.$dark-aqua;
        transform: translate(-50%, -50%);
        width: unquote("min(calc(100% - 16px), 600px)");
        padding: 24px 16px;

        &.opened {
            left: 50%;
            animation: slide-up 0.75s ease-in-out;
        }

        &.closed {
            left: -50%;
            animation: slide-down 0.75s ease-in-out;
        }

        @keyframes slide-up {
            0% {
                left: -50%;
            }

            100% {
                left: 50%;
            }
        }

        @keyframes slide-down {
            0% {
                left: 50%;
            }

            100% {
                left: -50%;
                display: none;
            }
        }

        .modal-content {
            display: flex;
            flex-direction: column;
            row-gap: 40px;
            justify-content: space-between;
            height: 100%;

            .modal-header {
                display: flex;
                justify-content: space-between;
                width: 100%;
                column-gap: 16px;

                h3 {
                    font-size: 16px;
                    font-weight: 400;
                }

                img {
                    width: 19px;
                    height: 19px;
                    cursor: pointer;
                    padding: 1.5px;
                }
            }

            .top-container {
                display: flex;
                flex-direction: column;
                row-gap: 16px;

                .modal-body {
                    display: flex;
                    flex-direction: column;
                    row-gap: 16px;

                    .edit-recipe-date-range-container {
                        display: flex;
                        column-gap: 12px;
                        position: relative;

                        &>div {
                            width: 50%;
                            position: unset;
                        }
                    }

                    .edit-recipe-date-input {
                        width: 100%;
                        padding: 8px 12px;
                        outline: none;
                        border: 1.5px solid theme.$default;
                        background: theme.$aqua;
                        color: theme.$white;
                        font-size: 14px;
                        position: relative;

                        .edit-recipe-date-label-container {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                        }

                        .edit-recipe-date-label {
                            display: inline-block;
                            width: 100%;
                            cursor: pointer;

                            &.is-default {
                                color: theme.$default;
                            }
                        }

                        .delete-date-btn {
                            height: 12px;
                            cursor: pointer;
                        }
                    }

                    .edit-recipe-meal-date-inputs-container {
                        display: flex;

                        .edit-recipe-meal-date-input-container {
                            position: relative;

                            .edit-recipe-date-label-container {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                .delete-date-btn {
                                    height: 12px;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }

            .modal-footer {
                display: flex;
                justify-content: flex-end;
                column-gap: 16px;

                button {
                    padding: 6px 12px;
                    border-radius: 16px;
                    outline: none;
                    border: 1.5px solid transparent;

                    &.cancel-btn {
                        color: theme.$white;
                        background: theme.$black;
                        cursor: pointer;

                        &:hover {
                            background: theme.$white;
                            color: theme.$black;
                            border: 1.5px solid theme.$default;
                        }
                    }

                    &.add-btn {
                        background: theme.$primary-blue;
                        color: theme.$white;
                        cursor: pointer;

                        &:hover {
                            background: theme.$white;
                            color: theme.$primary-blue;
                            border: 1.5px solid theme.$primary-blue;
                        }
                    }
                }
            }
        }
    }
}