.recipes {
    padding: 80px 0;
    @include down($tablet) {
        padding: 56px 0;
    }

    .heading-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 56px;
        padding-right: 56px;
        @include down($mobile-xl) {
            flex-direction: column;
            align-items: flex-start;
        }
        @include down($mobile) {
            padding-left: 24px;
            padding-right: 24px;
        }
    }

    .search-and-filter-container {
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        column-gap: 16px;
        @include down($mobile-xl) {
            width: 100%;
        }

        .search-bar {
            width: 200px;
            height: 40px;
            padding: 4px 16px;
            border: 1px solid $white;
            background: $white;
            color: $black;
            font-size: 20px;
            font-weight: 600;
            outline: none;
            transition: all 0.3s ease;
            border-radius: 20px;
            &.contains-search,
            &:focus-within {
                width: 350px;
                transition: width 0.3s ease;
                @include down($mobile-xl) {
                    width: 100%;
                }
            }
            @include down($mobile-xl) {
                width: 100%;
            }
            input {
                height: 32px;
                width: 100%;
                border: none;
                padding: 0 8px;
                outline: none;
            }
        }
        .filter-icon {
            display: flex;
            align-items: center;
            flex-direction: column;
            cursor: pointer;
            .top-bar {
                width: 32px;
                height: 5px;
                background: $white;
                margin-bottom: 4px;
            }
            .middle-bar {
                width: 24px;
                height: 5px;
                background: $white;
                margin-bottom: 4px;
            }
            .bottom-bar {
                width: 16px;
                height: 5px;
                background: $white;
            }
        }

        .list-img {
            height: 36px;
        }
    }

    .recipe-items-container {
        display: flex;
        flex-wrap: wrap;
        .recipe-item-container {
            aspect-ratio: 1/1;
            cursor: pointer;
            z-index: 1;
            position: relative;
            width: calc(25% - 2px);
            padding: 4px;
            // targeting the first of the four multiples
            &:nth-of-type(4n + 1) {
                margin-left: 4px;
            }
            // targeting the fourth of the four multiples
            &:nth-of-type(4n + 4) {
                margin-right: 4px;
            }
            &:hover {
                background: $hover;
                opacity: 0.7;
                transition-property: all;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-duration: 0.15s;
                border-radius: 4px;
                .recipe-image {
                    background: $hover;
                }
            }

            @include down($tablet) {
                width: calc(33.33% - 2.66px);
                // resetting the first of the four multiples
                &:nth-of-type(4n + 1) {
                    margin-left: 0;
                }
                // resetting the fourth of the four multiples
                &:nth-of-type(4n + 4) {
                    margin-right: 0;
                }
                // targeting the first of the three multiples
                &:nth-of-type(3n + 1) {
                    margin-left: 4px;
                }
                // targeting the third of the three multiples
                &:nth-of-type(3n + 3) {
                    margin-right: 4px;
                }
            }
            @include down($mobile-xl) {
                width: calc(50% - 4px);
                // resetting the first of the three multiples
                &:nth-of-type(3n + 1) {
                    margin-left: 0;
                }
                // resetting the third of the three multiples
                &:nth-of-type(3n + 3) {
                    margin-right: 0;
                }
                // targeting the first of the two multiples
                &:nth-of-type(2n + 1) {
                    margin-left: 4px;
                }
                // targeting the second of the two multiples
                &:nth-of-type(2n + 2) {
                    margin-right: 4px;
                }
            }
            @include down($mobile) {
                width: calc(100% - 8px);
                // targeting the first of the two multiples
                &:nth-of-type(2n + 1) {
                    margin-left: 0;
                }
                // targeting the second of the two multiples
                &:nth-of-type(2n + 2) {
                    margin-right: 0;
                }
                // targeting each item
                &:nth-of-type(n + 1) {
                    margin-left: 4px;
                    margin-right: 4px;
                }
            }

            .recipe-image {
                width: 100%;
                height: 100%;
                border-radius: 4px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: $aqua;
                color: $black;

                & > p {
                    max-width: 90%;
                    text-align: center;
                    color: $white;
                    text-shadow: 1px 1px 1px $black;
                    letter-spacing: 1.5px;
                }
            }

            .recipe-item-title-container {
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translate(-50%, -12px);
                background: $black;
                opacity: 0.65;
                width: 100%;
                padding: 12px 8px;
                display: flex;
                justify-content: center;

                .recipe-item-title {
                    color: $white;
                    font-weight: 600;
                    text-align: center;
                    text-shadow: 1px 1px 1px $black;
                    letter-spacing: 1.5px;
                    display: inline-block;
                    word-wrap: unset;
                    font-size: 14px;
                    z-index: 1;

                    @include down($desktop) {
                        font-size: 12px;
                    }
                    @include down($tablet) {
                        font-size: 12px;
                    }
                    @include down($mobile) {
                        font-size: 24px;
                    }
                }
            }

            .recipe-item-recommended-container {
                position: absolute;
                top: 0;
                right: 0;
                background: $white;
                transform: translate(0, 8px);
                padding-left: 2px;
                border-radius: 4px;

                .heart {
                    font-size: 20px;
                    @include down($mobile) {
                        font-size: 28px;
                    }
                }
            }
        }
    }

    .heart {
        &:before {
            content: "\2665";
            color: $red;
        }
    }

    .chef-recommended-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        .heart {
            margin-right: 8px;
        }
    }

    .empty-recipe-container {
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }

    @import "./RecipeFilterContainer";

    .loader-container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 100px;
        .watermelon {
            transform: unset;
            position: relative;
            left: unset;
            top: unset;
        }
    }

    .back-to-top-arrow {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background: $hover;
        padding: 12px 16px;
        color: $default;
        border-radius: 4px;
        z-index: 1;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:hover {
            box-shadow: 1px 1px 10px $hover;
        }

        img {
            width: 36px;
            height: 36px;
            margin-bottom: 6px;
        }

        span {
            font-size: 8px;
            color: $white;
        }
    }
}
