.resume-page {
    min-height: 100vh;
    min-width: 100vw;
    background-size: cover; 
    background-repeat: no-repeat;
    position: relative;
    color: white;
    text-align: center;
    .resume-inner-container {
        margin-bottom: 25px;
        width: 100%;
        .resume-iframe {
            width: 90%;
            height: 1000px;
            overflow: scroll;
            z-index: 2;
            @media screen and (max-height: 1400px) {
                height: 1075px;
            }
            @media screen and (max-height: 1100px) {
                height: 890px;
            }
            @media screen and (max-height: 850px) {
                height: 475px;
            }
            @media screen and (max-height: 825px) {
                height: 430px;
            }
            @media screen and (max-height: 800px) {
                height: 430px;
            }
            @media screen and (max-height: 750px) {
                height: 475px;
            }
            @media screen and (max-height: 700px) {
                height: 320px;
            }
            @media screen and (max-height: 670px) {
                height: 430px;
            }
            @media screen and (max-height: 650px) {
                height: 420px;
            }
            @media screen and (max-height: 600px) {
                height: 370px;
            }
        }
    }
    .resume-links-container {
        display: flex;
        margin-bottom: 50px;
        justify-content: space-evenly;
        width: 80%;
        min-width: 300px;
    }
    .resume-link {
        z-index: 1;
        cursor: pointer;
        padding: 8px 20px;
        max-width: 250px;
        color: white;
        border-radius: 16px;
        text-decoration: none;
        text-shadow: 1px 1px 10px black;
        background: lightgreen;
        @media screen and (max-width: $tablet) {
            padding: 6px 15px;
            font-size: 14px;
        }
        &:hover {
            box-shadow: 1px 1px 8px 2px rgb(173, 251, 173);
        }
        &.downloadable-link {
            background: skyblue;
            outline: none;
            &:hover {
                box-shadow: 1px 1px 8px 2px rgb(176, 221, 239);
            }
            &:focus {
                box-shadow: 1px 1px 8px 2px rgb(176, 221, 239);
            }
        }
    }
}