@use 'variables' as theme;
@use 'mixins' as mixins;

.search-bar {
    width: 200px;
    height: 40px;
    padding: 4px 16px;
    border: 1px solid theme.$default;
    background: theme.$default;
    color: theme.$black;
    font-size: 20px;
    font-weight: 600;
    outline: none;
    transition: all 0.3s ease;
    border-radius: 20px;
    display: flex;
    column-gap: 4px;

    &.full-width {
        width: 100%;
    }

    &.contains-search,
    &.expandable:focus-within {
        width: 350px;
        transition: width 0.3s ease;
        @include mixins.down(theme.$tablet) {
            width: 300px;
        }
        @include mixins.down(700px) {
            width: 250px;
        }
        @include mixins.down(650px) {
            width: 225px;
        }
        @include mixins.down(theme.$mobile-xl) {
            width: 100%;
        }
    }
    @include mixins.down(theme.$mobile-xl) {
        width: 100%;
    }
    input {
        height: 32px;
        width: 100%;
        border: none;
        padding: 0 8px;
        outline: none;
        background: transparent;
        color: theme.$white;
        letter-spacing: 2px;
        cursor: pointer;
        &::placeholder {
            color: theme.$light;
        }
    }
    .clear-btn {
        visibility: hidden;
        cursor: pointer;
        background: transparent;
        border: none;
        padding: 4px;
        transition: visibility 0.3s ease-in-out; 
        &.contains-search {
            visibility: visible;
        }

        img {
            width: 16px;
            height: 16px;
        }
    }
}