.weather-page {
    min-height: 100vh;
    width: 100vw;
    background: $silver;
    display: flex;
    align-items: center;
    flex-direction: column;
    @extend .fade-in;

    .weather-container {
        margin-top: 150px;
        min-width: 200px;
        display: flex;
        width: 80%;
        justify-content: space-between;
        max-width: 800px;
        flex-direction: column;
    }
}